# Immunization survey
I'll be lookin at 2018 data on immunization from the Centers for Desease Control and Prevention.

# Education level
The function, called `proportion_of_education`, returns the proportion of children in the dataset who had a mother with the education levels equal to less than high school (<12), high school (12), more than high school but not a college graduate (>12) and college degree.

In [1]:
import pandas as pd
df_1 = pd.read_csv("data_immunization.csv")
df_1

,Unnamed: 0,SEQNUMC,SEQNUMHH,PDAT,PROVWT_D,RDDWT_D,STRATUM,YEAR,AGECPOXR,HAD_CPOX,...,XVRCTY2,XVRCTY3,XVRCTY4,XVRCTY5,XVRCTY6,XVRCTY7,XVRCTY8,XVRCTY9,INS_STAT2_I,INS_BREAK_I
0,1,128521,12852,2,NaN,235.916956,1031,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,10741,1074,2,NaN,957.353840,1068,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,220011,22001,2,NaN,189.611299,1050,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,86131,8613,1,675.430817,333.447418,1040,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
4,5,227141,22714,1,482.617748,278.768063,1008,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28460,28461,19141,1914,2,NaN,21.188088,2062,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28461,28462,121401,12140,2,NaN,26.503010,2004,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28462,28463,128831,12883,2,NaN,27.520652,2004,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28463,28464,82921,8292,2,NaN,22.390587,2062,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28464,28465,244621,24462,2,NaN,27.520652,2004,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
df_1.info

<bound method DataFrame.info of        Unnamed: 0  SEQNUMC  SEQNUMHH  PDAT    PROVWT_D     RDDWT_D  STRATUM  \
0               1   128521     12852     2         NaN  235.916956     1031
1               2    10741      1074     2         NaN  957.353840     1068
2               3   220011     22001     2         NaN  189.611299     1050
3               4    86131      8613     1  675.430817  333.447418     1040
4               5   227141     22714     1  482.617748  278.768063     1008
...           ...      ...       ...   ...         ...         ...      ...
28460       28461    19141      1914     2         NaN   21.188088     2062
28461       28462   121401     12140     2         NaN   26.503010     2004
28462       28463   128831     12883     2         NaN   27.520652     2004
28463       28464    82921      8292     2         NaN   22.390587     2062
28464       28465   244621     24462     2         NaN   27.520652     2004

       YEAR  AGECPOXR  HAD_CPOX  ...  XVRCTY2  XVRCTY3  XVRCTY4  XVRCTY5  \
0      2017       NaN         2  ...                        NaN      NaN
1      2017       NaN         2  ...                        NaN      NaN
2      2017       NaN         2  ...                        NaN      NaN
3      2017       NaN         2  ...                        NaN      NaN
4      2017       NaN         2  ...                        NaN      NaN
...     ...       ...       ...  ...      ...      ...      ...      ...
28460  2017       NaN         2  ...                        NaN      NaN
28461  2017       NaN         2  ...                        NaN      NaN
28462  2017       NaN         2  ...                        NaN      NaN
28463  2017       NaN         2  ...                        NaN      NaN
28464  2017       NaN         2  ...                        NaN      NaN

       XVRCTY6  XVRCTY7  XVRCTY8  XVRCTY9  INS_STAT2_I  INS_BREAK_I
0          NaN      NaN      NaN      NaN          NaN          NaN
1          NaN      NaN      NaN      NaN          NaN          NaN
2          NaN      NaN      NaN      NaN          NaN          NaN
3          NaN      NaN      NaN      NaN          1.0          2.0
4          NaN      NaN      NaN      NaN          2.0          1.0
...        ...      ...      ...      ...          ...          ...
28460      NaN      NaN      NaN      NaN          NaN          NaN
28461      NaN      NaN      NaN      NaN          NaN          NaN
28462      NaN      NaN      NaN      NaN          NaN          NaN
28463      NaN      NaN      NaN      NaN          NaN          NaN
28464      NaN      NaN      NaN      NaN          NaN          NaN

[28465 rows x 454 columns]>

In [3]:
import pandas as pd
import numpy as np

def proportion_of_education():
    ''' 
    Returns the proportion of children in the dataset who 
    had a mother with the education levels equal to less than 
    high school (<12), high school (12), more than high school 
    but not a college graduate (>12) and college degree.
    '''
    df = pd.read_csv("data_immunization.csv", index_col=0)
    less_hs = df[df['EDUC1'] == 1]['EDUC1'].count()
    hs = df[df['EDUC1'] == 2]['EDUC1'].count()
    more_hs = df[df['EDUC1'] == 3]['EDUC1'].count()
    college = df[df['EDUC1'] == 4]['EDUC1'].count()
    
    total = less_hs + hs + more_hs + college
    less_hs_r = less_hs/total
    hs_r = hs/total
    more_hs_r = more_hs/total
    college_r = college/total 
    
    
    result = {"less than high school": less_hs_r,
    "high school": hs_r,
    "more than high school but not college": more_hs_r,
    "college": college_r}
    return result

df = proportion_of_education()
df

{'less than high school': 0.10202002459160373,
 'high school': 0.172352011241876,
 'more than high school but not college': 0.24588090637625154,
 'college': 0.47974705779026877}

# Consequences of getting milk
Let's explore the relationship between being fed breastmilk as a child and getting a seasonal influenza vaccine from a healthcare provider.

In [5]:
def average_influenza_doses():
    '''
    Return a tuple of the average number of influenza 
    vaccines for those children we know received breastmilk 
    as a child and those who know did not.
    '''
    df = pd.read_csv("data_immunization.csv", index_col=0)
    fed_m_v = df[df['CBF_01']==1][['CBF_01', 'P_NUMFLU']]
    fed_m_v.dropna(inplace=True)
    notfed_m_v = df[df['CBF_01']==2][['CBF_01', 'P_NUMFLU']]
    notfed_m_v.dropna(inplace=True)
    fed_milk = fed_m_v[fed_m_v['CBF_01']==1]['CBF_01'].count()
    notfed_milk = notfed_m_v[notfed_m_v['CBF_01']==2]['CBF_01'].count()

    vac_for_milk = fed_m_v['P_NUMFLU'].mean()
    vac_for_notmilk = notfed_m_v['P_NUMFLU'].mean()

    return (vac_for_milk, vac_for_notmilk)
average_influenza_doses()

(1.8799187420058687, 1.5963945918878317)

# Gender and vaccine effectiveness
It would be interesting to see if there is any evidence of a link between vaccine effectiveness and sex of the child.

In [7]:
def chickenpox_by_sex():
    df = pd.read_csv("data_immunization.csv", index_col=0)
    df_varca = df[df['P_NUMVRC'] >= 1][['SEX', 'HAD_CPOX']]
    
    male = df_varca[df_varca['SEX'] == 1]['HAD_CPOX']
    female = df_varca[df_varca['SEX'] == 2]['HAD_CPOX']
    male[male == 1].count()
    ratio_m = male[male == 1].count() / male[male == 2].count()
    ratio_f = female[female == 1].count() / female[female == 2].count()
    return {"male": ratio_m, "female": ratio_f}

chickenpox_by_sex()

{'male': 0.009675583380762664, 'female': 0.0077918259335489565}

# Vaccine effectiveness
Let's look at the correlation between the use of the vaccine and whether it results in prevention of the infection or disease